header {
  display: flex;
  /* justify-content: space-between; */
}

nav {
  margin-left: auto;
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav a {
  background: pink;
  width: 100px;
  text-align: center;
  line-height: 64px;
  display: block;
}

nav a:hover {
  background: #eee;
}

section {
  display: flex;
  margin-bottom: 60px;
  justify-content: space-between;
}

section:nth-child(even) {
  flex-direction: row-reverse;
}

.pic {
  width: 180px;
}

.desc {
  width: calc(100% - 180px - 32px);
}